body {
    background-color:white;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
}
.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    line-height: 1.2em;
    background-color: #FFFFFF;
}

header {
    text-align: center;
    background-color: #B22234;
    color: #3C3B6E;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: x-large;
    padding-top: 18px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
h1 {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    background-color: #FFFFFF;
    text-shadow: 0px 1px #B22234;
}
#whoweareparagraph {
    font-style: italic;
}
h5 {
    background-color: #B22234;
    color: #FFFFFF;
    border-radius: 0;
}
.imagecaption {
    background-color: #3C3B6E; 
}
#veterans {float:right}

.testimonialquotes {
    font-style: italic;
    padding-top: 10px;
}

#footer {
  text-align: center}

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}
h2 {
    padding-top: 4px;
    padding-bottom: 4px;
}
#discount-placeholder {
    font-size: 1.3rem;
    color: #B22234;
    line-height: 1.2em;
}

/*Start of Form CSS*/

.formwrapper{
    max-width: 900;
    width: 100%;
	border: thick solid #3C3B6E;
  background-image: url("../images/barnamerican.jpg");
  min-height: 380px;
  background-position: center;
  background-size: cover;
  padding: 50px 225px 25px; 
}
.input_field {
	background: #3C3B6E}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: left;
  font-size: 14px;
  transition: all 0.5s ease;
}

#name, #subject, #phone, #email, #message   {
    width: 100%; padding-left: 10px;
}

#message {
    height: 75px;
}

#contactusheading {text-align: center; background: #B22234; color: #FFFFFF}

.input_field {
    padding: 15px;
    border: medium solid #B22234;
    border-radius: 3px
#B22234;
}

